<h1>Edit Priced Item</h1>
<%= render 'form' %>
<h2>History</h2>
<table>
  <tr>
    <th>Event</th>
    <th>Date</th>
  </tr>
  <%= render collection: PricedItemEvent.where(item_id: params[:id]).order('created_at'), partial: 'history_event' %>
</table>
<%= link_to 'Schedule Update', new_priced_item_scheduled_update_path(priced_item_id: params[:id]) %>
<table>
  <tr>
    <th>Amount</th>
    <th>Effective Date</th>
  </tr>
  <%= render collection: ScheduledPricedItemChange.order('effective_date'),
             partial: 'scheduled_updates/scheduled_update' %>
</table>
